EVOLUTION_API_BASE_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=

SLACK_WEBHOOK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

PYTHON_BIN=

JFRS_USUARIO=
JFRS_SENHA=
TJRS_USUARIO=
TJRS_SENHA=

OTP_EXPORT_DATA=
OTP_PROFILE_MATCH=
OTP_PROFILE_INDEX=

WHATSAPP_VALIDATE_NUMBERS=
